<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" th:href="@{/image/logo.png}" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.7.2/css/all.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Todo Task Manager</title>
</head>
<body class="vh-100 d-flex flex-column">
<main class="flex-grow-1 container my-4">
    <div class="row">
        <div class="col" layout:fragment="content"></div>
    </div>
</main>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>